body{
    background-color: azure;
}

input[readonly] {
    background-color:grey;
}

header {
    height: 110px;
    padding: 20px 20px 0;
    background: grey;
}

footer {
   position: absolute; 
   display: flex;
   align-items: center;
   height: 1rem;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 17px 17px;
   background: #666;
   color: white;
}


a {
    color: white;
    text-decoration: none
}

a:hover {
    color:black;
    text-decoration: underline;
    background-color: darkgray;
}