<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    <div>
        <h1> VPM </h1>
        <hr>
        <h2> Estimate Volume</h2>
        <p> Enter Values in Inches</p>
        <form action="/estimate" method ="POST">
    
            <label for="radius">Tank Radius:</label>
            <input type="number" id="radius" name="radius" /><br /><br />
            <label for="height">Tank Height:</label>
            <input type="number" id="height" name="height" /><br /><br />
            <input type="submit" id="submit" value="Submit" />
    
        </form>
        <h3> Estimate </h3>
        <p>{{quote}}</p>

        {% block body %}

        {% endblock %}

    </div>
</body>
</html>